html[Attributes Style] {
-webkit-locale: en-ca;
}

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
background-color:#E5555B;
margin: 0;
padding: 0;
box-sizing: border-box;
-moz-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
text-size-adjust: 100%;
}
}

*, *::before, *::after {
	box-sizing: inherit;
}

.os{
font-family: 'Oswald', sans-serif;
color:white;
margin:0;
}

.pad{
	padding-top:-2em;
}

.text{
	-webkit-animation: text 2s ease-in-out;
	animation: text 2s ease-in-out;
}

.black {
	background-color:black;
	margin:0;
}

.stars {
width: 100%;
height: 100vh;
background-image: url(../images/stars.svg);
-webkit-animation: stars 5s ease-in-out infinite alternate;
animation: stars 5s ease-in-out infinite alternate;
}



.r2-d2 {
position: absolute;
bottom: 100px;
right: 100px;
width: 256px;
height: 256px;
-webkit-animation: bounce 6s ease-in-out infinite alternate;
animation: bounce 6s ease-in-out infinite alternate;
}

@-webkit-keyframes bounce {
	
	0% {
		-webkit-transform:translateY(-120px);
	
	}
	
	
	100% { 
		-webkit-transform:translateY(100px);
	}
}


@keyframes bounce {
	
	0% {
		transform:translateY(-120px);
	
	}
	
	
	100% { 
		transform:translateY(100px);
	}
	
	
		
}

@-webkit-keyframes text {
	
	0% {
		-webkit-transform:translateX(1000px);
	
	}
	
	
	100% { 
		-webkit-transform:translateX(0px);
	}
		
}

@keyframes text {
	
	0% {
		transform:translateX(1000px);
	
	}
	
	
	100% { 
		transform:translateX(0px);
	}
		
}


.button {
position: absolute;
z-index: 3;
width: 10%;
top: 80%;
left: calc(55% - 10%);
}

.fade
{
        opacity:0.5;
}
.fade:hover
{
        opacity:1;
}

.grow:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}

.panel {
    display: none;
}

.js-panel-open {
    display: block;
}

.menu {
    height: 1rem;
    width: 3.4rem;
    overflow: hidden;
    text-indent: 100%;
	background-image:url(../../../project-1/dsn1676-term-project/images/menu.svg);
	background-color:#E5555B;
    top: 1rem;
    left: 5%;
    z-index: 100;
    padding: 0;
    margin: 20px;
    border: 0;
}


.red {
	background-color:#E5555B;
}

nav {
 padding: 0;
}

nav ul {
    padding: 0;
    margin: 0;
    border-top: 1px solid #E1D6C3;
}

nav li {
    background-color: #E5555B;
    border-bottom: 1px solid #E1D6C3;
    text-decoration: none;
    list-style: none;
}

nav a {
    display: block;
    text-decoration: none;
    color: E5555B;
    width: 100%;
    padding: 25px;
}

nav a:hover {
    background-color:#E9C925;
}

[hidden] {
    display: none;
}

.box {
  height: 100px;
  top: calc(50% - 50px);
  width: 138px;

  background-image:url(../images/yoda.svg);
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
  opacity: 1;
}

.js-box-dissappear {
  opacity: 0;
}

.pad2 {
	padding-top: 15rem;
}
.button2 {
	font-size: 1em;
	color: #ffffff;
	cursor: pointer;
	width: 160px;
	height: 60px;
	text-align:center;
	border:#ffffff solid 2px;
	background: rgba(230,207,207,0.00);
	
}

.box {
    height: 100px;
  top: calc(50% - 50px);
  width: 138px;

  background-image:url(../images/yoda.svg);
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
  opacity: 0;
}

.js-box-dissappear {
  opacity: 1;
}

.box2 {
      height: 100px;
  top: calc(50% - 50px);
  width: 138px;

  background-image:url(../images/chewbacca.svg);
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
  opacity: 0;
}

.js-box2-dissappear {
  opacity: 1;
}

.box3 {
      width: 200px;
	height:100px;
	background-image:url(../images/c3p0.svg);
	position:absolute;
	
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
  opacity: 0;
}

.js-box3-dissappear {
  opacity: 1;
}
.pad-2 {
	padding-top: 30em;
}

.topp {
	padding-top:400px;
}

#leia {
	width: 256px;
	position:absolute;
	padding-top:200px;
	opacity: 0;
}

#leia:hover {
	width: 356px;
	position:absolute;
	padding-top:200px;
}

#one-eye {
	opacity:0;
}

#leia:hover #one-eye {
	opacity:1;
}

#mouth-2 {
	opacity:0;
}

#leia:hover #mouth-2 { 
	opacity:1;
}

#leia:hover #eyes {
	opacity:0;
}

.light {
	text-align:center;
}

#space-ship {
	width: 150px;
}

#beam {
	opacity:0;
	transition: all 1s linear;
}

.js-active #beam {
	opacity: 1;
}

#window {
	opacity: 0;
}

.js-active #window {
	opacity: 1;
}

.pad3 {
	padding-top: 7em;
}






