@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
background-color:#E5555B;
margin: 0;
padding: 0;
box-sizing: border-box;
-moz-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
text-size-adjust: 100%;
}
}

*, *::before, *::after {
	box-sizing: inherit;
}

.os{
font-family: 'Oswald', sans-serif;
color:white;
margin:0;
}

.pad{
	padding-top:-2em;
}

.text{
	animation: text 2s ease-in-out;
}

.r2-d2 {
position: absolute;
bottom: 200px;
right: 150px;
width: 256px;
height: 256px;
animation: bounce 10s ease-in-out infinite;
}


@keyframes bounce {
	
	0% {
		transform:translateY(0px);
	
	}
	
	25% { 
		transform:translateY(100px);
	}
	
	50% { 
		transform:translateY(-100px);
	}
	

	
	75% { 
		transform:translateY(-200px);
	
	}
	
	
	
	100% { 
		transform:translateX(-600px);
	}
		
}

@keyframes text {
	
	0% {
		transform:translateX(1000px);
	
	}
	
	
	100% { 
		transform:translateX(0px);
	}
		
}


.button {
position: absolute;
z-index: 3;
width: 10%;
top: 80%;
left: calc(55% - 10%);
}
